name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: market_user
          POSTGRES_PASSWORD: market_pass
          POSTGRES_DB: market_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U market_user -d market_db"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      DATABASE_URL: postgresql://market_user:market_pass@localhost:5432/market_db

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r market-pipeline/requirements.txt

      - name: Wait for Postgres
        run: |
          for i in {1..10}; do
            pg_isready -h localhost -p 5432 -U market_user -d market_db && break
            echo "Postgres not ready yet..."
            sleep 3
          done

      - name: Run tests
        working-directory: market-pipeline
        run: |
          pytest
